.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  gap: 35px;
  background-color: #12232e;
  color: white;
  height: 90px;
}

.fa-instagram:hover {
  cursor: pointer;
  transition: 0.2s;
  color: rgb(193, 53, 132);
}

.fa-twitter:hover {
  cursor: pointer;
  transition: 0.2s;
  color: rgb(29, 161, 242);
}

.fa-snapchat:hover {
  cursor: pointer;
  transition: 0.2s;
  color: rgb(255, 252, 0);
}
